body{
    background-color: #fffffc;
    margin: 0;
}

h1{
    text-align: center;
    margin: 5px auto 0;
}
#cajaLogin {
    border: 0.2px solid black;
    width: 45%;
    margin: 10% auto 25px;
    background-color: rgb(35,39,48);
    color: #fff;
}

#usuario,#contrasena{
    text-align: center;
    border: 1px solid lightgrey;
}

#botonLogin{
    display: block;
    margin : 20px auto;
    background-color: #013369

}

#textoLogin{
    text-align: center;
    font-size: 1.4em;
}

#avatar{
    width: 110px;
    border-radius: 100px;
    display: block;
    margin : 15px auto 10px;
}

footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2px;
    text-align: center;
    width: 47%;
    display: block;
    margin :0 auto;
}

footer p{
text-align: center;
font-size: 0.9em;
}

.rojo{
    color: red;
}


.bg-primary{
    background-color: #013369 !important;
    color: lightgrey;
    padding: 10px;

}

.navbar-inverse .navbar-nav .nav-link{
    text-align: center;
    font-size: 1.2em;
    margin: 0 10px;
}

.navbar-inverse .navbar-nav .nav-link:hover{
    color:white;
}
.navbar-inverse .navbar-nav .nav-item:hover{
    background-color: darkred;
}

.navbar-inverse .navbar-toggler{
    border:none;
    height: 35px;
}

#logoPanel{
    height: 100px;
    background-color: rgb(35,39,48) ;
}

#logo{
    height: 115px;
    max-height: 100px;
    display:block;
    margin:auto;
}


#cajonEditar{
    padding: 30px;
    display: block;
    margin: 5% auto 10%;
    width: 50%;
    border: 2px solid rgb(35,39,48);
    background-color: #013369;
    color: white;
    font-size: 1.1em;
}

#botonesEditar{
padding:10px;
}

#volverEditar{
    color: #0a001f;
    background-color: gainsboro;
    border: 1px solid #0a001f;
    margin-bottom: 5px;
}

#guardarEditar{
    float: right;
    background-color: green;
    border: 1px solid darkgreen;
}

.checkEditar{
    margin-left: 5%;
}

.titulo{
    font-size: 1.2em;
    list-style: none;
    border-bottom: 1px solid black;
}

.item, .derecha{
    list-style: none;

}

.listado{
    width:75%;
    margin: 25px auto;
}

.derecha a{
    margin:5px auto 5px;
}

.item a{
    margin-left: 30px;
}

.alert{
    width: 100%;
    position: absolute;
    max-height: 45px;
    text-align: center;
}

#botonNuevoUser{
    background-color: #013369;
    border-color:rgb(35,39,48) ;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin: 50px 10% 10px;
}

.activo{
    color:limegreen;
}

.activo:hover{
    color:darkred;
}

.inactivo{
    color: darkred;
}

.inactivo:hover{
    color: limegreen;
}

.oculto{
    display: none;
}

.listadoNoticias{
    width:95%;
    margin: 25px auto;
}

#botonNuevaNoticia{
    background-color: #013369;
    border-color:rgb(35,39,48) ;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin: 50px 5% 10px;
}

.password{
    display: none;
}

.centro{
    text-align: center;
}